<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>

       <form id="form1">
            <input type="text" id="address">
            <button id="submit">Search</button>
        </form >
      
          <h2 id="title-hd">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque vitae maiores dicta unde quisquam doloremque.</h2>
          <div id="content">
          <p id="location"></p>
          <p id="forecast"></p>
          <p id="latitude"></p>
          <p id="longitude"></p>
          <p id="error"></p>
        </div>
           
          
          <script src="js/script.js"></script>
      </body>
</html>